
.our_team{

    margin: 50px auto;
     
    .team-header{
        text-align: center;
        margin-bottom: 40px;

        img{
            width: 120px;
            
        }
    }

    h3{
        font-family: Quicksand;
        font-size: 40px;
        font-weight: 700;
        line-height: 48px;
        color: #253D4E; 
    }

   
        
    


}

.team_content{
    display: flex;
    justify-content: space-between;
    // flex-wrap: wrap;
    align-items: flex-start;
}

.team_item-left{
    max-width: 450px;
    padding-bottom: 190px;
    // background-color: #8c9398;


& p:nth-child(1){
        font-family: Quicksand;
        font-size: 16px;
        font-weight: 700;
        line-height: 19.2px;
        text-align: left;
        color: #3BB77E;
        margin: 0;
    }

    h2{
        font-family: Quicksand;
        font-size: 48px;
        font-weight: 700;
        line-height: 57.6px;
        text-align: left;
        color: #253D4E;
    }

    p{
        font-family: Lato;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        color: #7E7E7E;
        margin: 30px 0;
    }

    a{
        width: 188.67px;
        height: 47px;
        top: 373.37px;
        left: 12px;
        padding: 14px 30.6px 15px 31px;
        gap: 0px;
        border-radius: 4px 0px 0px 0px;
        opacity: 0px;
        background: #3BB77E;
        color: #FFFFFF;
        text-decoration: none;
        

    }
}

.team_item{
        border-radius: 4px;
        position: relative;
    img{
        width: 100%;
        object-fit: cover;
    }

    .item_title{
        position: absolute;
        padding: 30px 100px;
        right: 10%;
        bottom: -15%;
        background: #FFFFFF;
        border-radius: 8px;
        box-shadow: 5px 5px 15px 0px #0000000D;

        
    h5{
        font-family: Quicksand;
        font-size: 24px;
        font-weight: 700;
        line-height: 28.8px;
        text-align: center;
        color: #253D4E;
        margin-bottom: 6px;
    }

    p{
        font-family: Lato;
        font-size: 17px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
        color: #7E7E7E;
        margin-bottom: 13px;
    }

    .sosial_icons{
       display: flex;
       justify-content: center;
       gap: 15px;
       font-size: 20px;
        text-align: center;


        a{
            color: #3BB77E;
        }
    }


    }
}



//-----responsive-----

@media (max-width:990px){
    .team_content{
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
        
        // flex-direction: column;
    }

    .team_item-left{
        max-width: none;
        width: 100%;
    }

    .team_item{
        width: 45%;

        .item_title{
            left: 9%;
        }
    }
}



@media (max-width:768px){
    .team_content{
        flex-wrap: wrap;
        justify-content: center;
        // flex-direction: column;
    }

    .team_item-left{
        max-width: none;
        width: 100%;
    }

    .team_item{
        display: none;
       
    }
}


@media(max-width:550px){
    .team-header{
        & img{
            margin-left: 40%;
        }
    }

    // .our_team{
    //     margin-bottom: 20px;
    // }
}
