

.blog-main-title{
    // background-color: aquamarine;
    margin: 75px auto 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;

    aside{
        display: block;
        width: 30%;
        height: 100%;
        // background-color: bisque;
        padding-bottom: 20px;
    }
}



.blog-content{
    width: 70%;
    // width: 100%;
}

.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;



    .main-header-left{
        display: flex;
        align-items: center;
        gap: 9px;

        h2{
            font-family: Quicksand;
            font-size: 40px;
            font-weight: 700;
            line-height: 48px;
            text-align: left;
            color: #253D4E;
        }
    }

    .main-header-right{
        display: flex;
        gap: 20px;
        
        div{
            padding: 10px 20px;
            background-color: #fff;
            border: 1px solid #ECECEC;

        }

        .show{
            display: flex;
            gap: 10px;
            align-items: flex-start;
            
        }
    }
}


.blog-box{
    margin: 50px 0;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    row-gap: 10px;
    // gap: 2px;

    .blog-box-item{
        background-color: #fff;
        width: calc(100% / 3 - 4px);
        position: relative;

        .blog_item_link{
            display: inline-block;
            padding: 10px;
            background-color: #FDC040;
            border-radius: 4px;
            position: absolute;
            top: 20px;
            left: 32px;

            i{
                font-size: 20px;
                color: #fff;
            }

        }

        img{
            width: 100%;
            padding: 0 10px;
            object-fit: cover;
        }
        .blog_item_title{
            padding: 20px 43px;
            text-align: center;

            h6{
                font-family: Quicksand;
                font-size: 14px;
                font-weight: 700;
                line-height: 14px;
                text-align: center;
                color: #B6B6B6;
            }

            h4{
                font-family: Quicksand;
                font-size: 24px;
                font-weight: 700;
                line-height: 28.8px;
                text-align: center;
                color: #253D4E;
                margin: 9px 0;
            }

            span{
                font-family: Lato;
                font-size: 13px;
                font-weight: 400;
                line-height: 13px;
                text-align: center;
                color: #7E7E7E;
                margin-right: 10px;
            }
        }

    }
}


.aside-burger{
    display: none;
}

//?-----aside-----------

.blog-search{
    margin-bottom: 50px;
    width: 100%;
    height: 64px;
    background-color: #fff;
    border: 1px solid #ECECEC;
    display: flex;
    justify-content: flex-start;
   

    input{
        height: 100%;
        padding: 0 2vw;
        background: none;
        border: none;
        flex-grow: 2;
    }

    button{
        padding: 0 1vw;
        background: none;
        border: none;
        height: 100%;
        font-size: clamp(16px, 2vw, 24px);
          
          
    }
}

.blog-category{
    background-color: #fff;
     
        h5{
            // margin: 20px 30px;
            padding-bottom: 20px;
            border-bottom: 1px solid #ECECEC;
            font-family: Quicksand;
             font-size: 24px;
             font-weight: 700;
             line-height: 28.8px;
             text-align: left;
             
            position: relative;
        &::after{
            content: "";
            position: absolute;
            left: 0;
            bottom: -1px;
            background: #BCE3C9;
            width: 90px;
            height: 4px;
            box-sizing: border-box;
            
            // border-bottom: 1px solid #5b5959;
        }
    }

    ul{
        margin: 40px 0px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        

        li{
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 1px solid #F2F3F4;
            padding: 5px 15px;

            span{
                padding: 5px 10px;
                border-radius:50%;
                background-color: #BCE3C9;
            }

            a{
                font-family: Lato;
                font-size: 14px;
                font-weight: 400;
                line-height: 21px;
                text-decoration: none;
                display: flex;
                gap: 20px;
                align-items: center;
                color: #253D4E;

                img{
                    width: 30px;
                    height: 30px;
                }
            }

        }
    }

}



.blog-trending{
    background-color: #fff;
    margin: 30px 1px;

    h5{
        margin: 20px 30px;
        padding-bottom: 20px;
        border-bottom: 1px solid #ECECEC;
        font-family: Quicksand;
         font-size: 24px;
         font-weight: 700;
         line-height: 28.8px;
         text-align: left;
         
        position: relative;
    &::after{
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        background: #BCE3C9;
        width: 70px;
        height: 4px;
        box-sizing: border-box;
        
        // border-bottom: 1px solid #5b5959;
    }
}


.trend-item{
    display: flex;
    gap: 20px;
    border: 1px solid #00000026;
    margin-bottom: 10px;
    margin: 10px 1px;

    div{
        display: flex;
        flex-direction: column;
        

        h6{
            font-family: Quicksand;
            font-size: 20px;
            font-weight: 700;
            line-height: 24px;
            text-align: left;
            color: #3BB77E;
            margin: 5px 0;
        }

        span{
            font-family: Lato;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            text-align: left;
            color: #7E7E7E;

            i{
                color: #FDC040;
            }
        }
    }
}
}



.blog-galery{

    background-color: #fff;
    margin: 30px 1px;

    h5{
        margin: 20px 30px;
        padding-bottom: 20px;
        border-bottom: 1px solid #ECECEC;
        font-family: Quicksand;
         font-size: 24px;
         font-weight: 700;
         line-height: 28.8px;
         text-align: left;
         color: #253D4E;
        position: relative;
    &::after{
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        background: #BCE3C9;
        width: 70px;
        height: 4px;
        box-sizing: border-box;
        
        // border-bottom: 1px solid #5b5959;
    }
}

ul{
    margin: 20px 1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    li{
        width: calc(100% / 3 - 10px);
    }
}

}



.blog-popular{

    background-color: #fff;
    margin: 30px 1px;

    h5{
        margin: 20px 30px;
        padding-bottom: 20px;
        border-bottom: 1px solid #ECECEC;
        font-family: Quicksand;
         font-size: 24px;
         font-weight: 700;
         line-height: 28.8px;
         text-align: left;
         color: #253D4E;
        position: relative;
    &::after{
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        background: #BCE3C9;
        width: 70px;
        height: 4px;
        box-sizing: border-box;
        
        // border-bottom: 1px solid #5b5959;
    }
}


ul{
    // margin: 20px 30px;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    row-gap: 40px;
    
    li{
        width: calc(100% / 2 - 20px);
        text-align: center;

        a{
            padding: 10px 20px;
            border: 1px solid #ECECEC;
            border-radius: 30px;
            text-decoration: none;
            color: #3BB77E;

            i{
                color: #B6B6B6;
            }
        }
    }
}

}


//----------responsive------------

@media(max-width:990px){

    .blog-main-title{
        position: relative;
        aside{
            // display: none ;
            display: block;
            position: absolute;
            top: 42vh;
            left: 0;
             width: 90%;
            //  height: 50vh;
            background-color: #ffff ;
            transform: translateX(-100%);
            opacity: 1;
            padding: 30px;
            transition:0.9s linear;
            z-index: 2;
        }

        // aside .blog-popular{
        //     margin: 30px 0;
        // }
        aside.show2{
            transform: translateX(0);
        }
    }

    .aside-burger{
        display: block;
    }

    .blog-content{
        width: 100%;
    }
   

    .blog-box .blog-box-item:nth-child(n+7){
        display: none;
    }

    .blog-box-item{
        width: calc(100% / 2 - 10px) !important;
    }
}


@media(max-width:820px){
    .main-header{
        flex-direction: column;
    }

    .main-header-right{
        margin-top: 30px;
    }
}


@media(max-width:550px){

    ul{
        li{
            width: 100%;
        }
    }
    .blog-box-item{
        width: 100% !important;
    }

    .blog-galery{
        ul{
            li{
                width: calc(100% / 2 - 10px);
            }
        }
    }

    .blog-popular{
        ul{
            li{
                width: 100%;
                
            }
        }
    }
}