


.contact-map{
    width: 100%;

    iframe{
        width: 100%;
        
    }
}

//---------responsive----------

@media(max-width:768px){
    .contact-map{
        height: 200px;
    }

    iframe{
        height: 100%;
    }
}