
.home-banner{
    margin-top: 30px;

}
.banner-content{
    width: 100%;
    height: 300px; position: relative;

    & img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


    
& h2{
    font-size: 40px;
    
    
    position: absolute;
    top: 20%;
    left: 10%;
    z-index: 1;
    color:  #253D4E;
    font-weight: bold;
}

& p{
    position: absolute;
    top: 59%;
    left: 10%;
    z-index: 1;
    color:  #9fadb7;
    font-weight: bold;
    font-size: clamp(1rem, 2.5vw, 1.6rem); 
}

& .banner-form{
    position: absolute;
    top: 78%;
    left: 10%;
    z-index: 1;
    display: flex;
    background-color: white;
    border-radius: 15px;
    // padding: 5px;

& .banner-form-input{
    padding: 8px;
    border: none;
    border-radius: 15px;
}

& .banner-form-button{
    padding: 8px 10px;
    border: none;
    border-radius: 15px;
    background-color:  #3BB77E;
    
}



}

} 


//------------Responsive------------

@media(max-width:990px){
   .banner-content{
    img{
        height: 417px;
    }

    
   } 
}

@media(max-width:550px){
    

    .banner-content{
        height: 500px;
        background-color: #9fadb7;

        & img{
            display: none !important;
        }

        p{
            margin-top: 30px;
            color: #084026;
        }
    }
}








