

.footer_alt{
    margin: 40px auto 65px ;
}

.alt_content{
    display: flex;
    justify-content: space-between;

}

.alt_item{
    background: #F4F6FA;

    padding: 5px;
    border-radius: 6px;
    padding: 4px 10px;
    display: flex;
    align-items: center;
    gap: 10px;

    .title_head{
        color:  #242424;
        font-size: 18px;
        font-weight: bold;
    }

    .title_text{
        color: #ADADAD;

    }
}


@media (max-width:990px){
    .footer_alt{
        display: none;
    }
}