*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
//?------------------header------------------------

header{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}


///----------------container-------------

.container{
   max-width: 90vw;
    margin: 0 auto;
    border-radius: 8px;
}

// --------------header content=-------------------
.header-content{
    margin: 30px auto 37px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2vw;

}



.header-search{
    display: flex;
    border: 2px solid #626662;
    border-radius: 8px;
    padding: 5px;
    flex-grow: 2;


    


& .header-search-select{
            border: none;
            padding: 10px;
            padding-right: 0;

}

& .header-search-input{
            border: none;
            outline: none;
            flex-grow: 2;
            padding: 10px;
            padding-right: 0;

}

& .header-search-button{
            border: none;
            background-color:white;
            padding: 10px;
            padding-left: 0;
}
}





.header-left{
    display: flex;
    align-items: center;
    justify-content: space-between;
    // background-color: #09b872;
    gap: 2vw;
    // padding-right:4vw ;

& li{
    list-style: none;

& a{
    text-decoration: none;
    color: #7E7E7E;
    display: flex;
    align-items: end;
    gap: 4px;

& i{
    color:#1d523c ;
font-size: x-large;
}
}
}
    
}

.burger_menu{
    display: none;
    span{
        i{
            font-size: 30px;
            color: rgb(40, 39, 37);
        }
    }
  }



.navbar-dropdown{
      
    display: block;
     position: absolute;
     top: 24vh;
     left: 0;
    //  width: 30%;
    //  height: 50vh;
     background-color: #ffff ;
     transform: translateX(-800px);
     opacity: 1;
     padding: 30px;
     transition:0.9s linear;
     z-index: 2;
     font-size: 1.3rem;

     ul{
        margin: 10px 0 10px 20px  ; 

        
     }

     li{
        display: block;
         margin-bottom: 1.4vw;
         background: none;
         padding: 15px 0;
         

         
         
     }

     a{
        &.dp_home{
            display: flex;
            gap: 10px;
            background-color: #afebe9;
            text-align: justify;
            font-size: 20px;
            padding: 10px 0 10px 40px;
            width: 200px;

         }
        display: inline-block;
        width: 100px;
         text-decoration: none;
         text-align: justify;
         padding: 0 30px;
         color: #292f46;
         
         
         
         
         
     }
}

.drop_form{
    display: flex;
    margin: 10px 20px ;
    background: #d7d9dc;
    border-radius: 50px;
    input{
        color: #646464;
        background: none;
        text-align: center;
        font-size: 12px;
        padding: 5px 0;
        border: none;
        border-radius: 50px;
    }

    button{
        display: inline-block;
        padding: 5px;
        color: #fff;
        background-color: #3BB77E;
        border: none;
        border-radius: 50px;
    }
    


}

.navbar-dropdown.show{
 transform: translateX(-20px);
}

//----------------responsive-------------------

@media only screen and (max-width: 990px) {
    .header-content {
       flex-wrap: wrap;
       justify-content: flex-start;
       gap: 50px;
       row-gap: 20px;
       
    
       
      

      

    & .header-search{
         border: 2px solid #BCE3C9;
        flex-shrink: 1;
        flex-grow: 1;
        margin-right: 100px;

        
    }

    & .header-left{
        justify-content: space-between;
        margin: 0 auto;
        
       

        
    }
    }
  }

  @media (max-width: 768px){
    .header-content{
        justify-content: center;
    }
    .burger_menu{
        display: block;
    }

    .header-search{
        display: none;
    }
  }


//----------------Navbar ----------------------
nav{
    padding: 14px 8px;
    box-shadow: 0 0 2px  0 #888;
}
.header-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.navbar-button{
    padding: 10px 40px;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: #3BB77E;
    color: #fff;
    border-radius: 8px;
    border: none;
}




.navbar-center{
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vw;

& li{
    list-style: none;

& a{
    text-decoration: none;
    color: #6b7779;
    font-weight: bold;
}
}
}

  .navbar-contact{
            display: flex;
            gap: 5px;
& .navbar-contact-icon{
    font-size: xx-large;
    color: #3f5b4f;
}
 & .navbar-contact-text{
            display: flex;
            flex-direction: column;

 }
  }


  

  
  

//--------------responsive---------------

  @media only screen and (max-width: 990px){
    
    .navbar-contact{
        display: none;
    }
  }

  @media only screen and (max-width: 768px){
    .header-navbar{
        display: none;
    }
}

    // .navbar-center{
    //     display: none;
    // }

//    

//    .navbar-contact{
//     display: flex;
//    }
//   }
    

    
  