
.home-categories-fruit{
    margin-top: 50px;
}

.home-fruit-content{
    margin-top: 30px;
    background-color: rgba(246, 252, 250, 0.7);
}

.fruit-categories_content{
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 48px;

    h3{
        font-size: 1.5rem;
        color:#253D4E;
        font-weight: bold;
    }
}
.fruit-categories{
    display: flex;
    gap: 20px;
    color:  #253D4E;
    h6{
        font-size: 1rem;
    }
    
}



.fruit-tablist{
   
    // display: flex;
    // gap: 24px;
    // flex-wrap: wrap;
    // row-gap: 30px;

    display: flex;
    flex-wrap: wrap;
    gap: 15px;

& .tablist{
    width: calc((100% - 60px) / 5);
    min-width: 250px;
    border: 2px solid rgb(171, 167, 167);
    padding: 5px;
    background-color: #fff;
    border-radius: 8px;

   

  

& img{
    width: 100%;
    
    object-fit: cover;
}

& .tablist-button{
        margin-top: 1vw;
        padding: 0 8px;
       border: none;
        color: #ADADAD;
        background:none;
        
        

}

& h6{
        margin-top: 1vw;
        font-weight: bold;
        font-size:1rem;

}

& p{
    margin-top: 1vw;
    color: #3dd173;
    font-weight: 300;
}


& .tablist-price-addcart{
margin: 2vw 0;
display: flex;
align-items: center;
justify-content: center;


    .discount-price{
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 16px;
        margin-right: 10px;
        i{
            font-size: small;
        }

        &>span{
            display: flex;
            flex-direction: row;
            text-decoration: line-through;
        }

        
    }

    .own-price{
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 20px;
        color: #3dd173;
        text-decoration: none;
        i{
            font-size: small;
        }

        // &>span{
        //     display: flex;
        //     flex-direction: row;
           
        // }

        
    }

    .add-to-cart{
        color:  #3BB77E;
        background-color:  #DEF9EC;
        border: none;
        border-radius: 9px;
        width: 30%;
        height: 30px;
        transition: all .5s ease-in-out;
        cursor: pointer;
        &:hover{
            background-color: #9dd2b8;
            color:#d3f5e5 ;
        }
    }

}


}



   
}


//-----responsive---------
@media screen and (max-width:768px) {
    .fruit-categories_content{
        display: block;
        
        .fruit-categories{
            margin-left: 20px;
        }
    }

    .fruit-tablist{
        justify-content: space-between !important;
        :nth-child(10){
            background-color: #3BB77E;
            display: none;
        }
    }
    .tablist{
        min-width: 200px !important;

        .add-to-cart{
            font-size: 1em;
        }

        
        
    }

    


        
}
    
        
    


