
.Shop_by{
    margin-top: 80px;
}
.shop_title{
    
        display: flex;
        justify-content: space-between;
    h2{
        display: inline-block;
        color: #253D4E;
        margin-right: 2vw;
    }

    a{
        display: inline-block;
        text-align: end;
        color: #7E7E7E;
    }
    .arrow_content{
        display: inline-block;
        text-align: end;

        .shop_perv_arrow{
            font-size: 17px;
            margin-right: 10px;
            padding: 3px 5px;
            color:  #7E7E7E;
            background: #F2F3F4;
            border: none;
            border-radius: 50%;

        }

        .shop_next_arrow{
            font-size: 17px;
            padding: 3px 5px;
            color:  #7E7E7E;
            background: #F2F3F4;
            border: none;
            border-radius: 50%;

        }
    }
}

.shop_content{
  margin: 30px 0;
  width: 100%; 
}

.shop_item{
    border-radius: 6px;
    margin: 1.2vw;
    background-color: #e3ebf9;
    text-align:center;
    padding: 25px 0;

    img{
        margin: 0 auto;
    }

    p{
        margin-top: 20px;
        color: #253D4E;
        font-weight: bold;
    }
}



//-----------responsive---------


@media(max-width:550px){
    .shop_title{
        flex-direction: column;
    }
}